[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
pypdf = "*"
langchain-community = "*"
langchainhub = "*"
faiss-cpu = "*"
python-dotenv = "*"
langchain-mistralai = "*"
sentence-transformers = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
websockets = "*"

[dev-packages]

[requires]
python_version = "3.11"
